/* ====== Universal Codes ====== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
    background-color:var(--background-first-color) ;
    font-size: 62.5%;   
}
body{
    font-size: 1.4rem;
    font-family: "Poppins", sans-serif; 
    background-color: var(--light-dark-background);
}
ul {
    list-style: none;
    padding: 0;
}
:root {
    /* Colors */
    --header-link-color: white;
    --cta-color: white;
    --copy-color:black;
    --dark-background: #185a9c;
    --light-dark-background: #0E3761;
    --secondary-background: rgb(44, 44, 44);
    --secondary-color: white;
    /* Standard sizes */
    --margin-box:20px;
    --padding-box:15px;
    --border-radius:20px;
    /* Sizes needed for calc() */
    --gallery-width:300px;
    --page-max-width:1000px;
    --intro-image-width: 170px;
}
body, header, main, footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ===== Universal css ===== */
main h1, .header-white{
    color: var(--header-link-color);
    text-align: center;
}
header{
    font-family: "Segoe UI", Arial, sans-serif;
}
main, header, footer{
    width: var(--page-max-width);
}
a {
    text-decoration: none; 
}

/* ===== Boxes ===== */
.div-secondary-colors-box > div, .secondary-colors-box{
    background-color: var(--secondary-background);
    color: var(--secondary-color);
}
.div-white-box > div,.white-box{
    background-color: white;
    color:var(--copy-color);
}
.div-box-padding > div, .box-padding{
    margin:var(--margin-box);
    padding:var(--padding-box);
}
.div-box-padding img, .box-padding img{
    width:100%;
    object-fit:cover;
    max-height:300px;
}
/* Could be done with it's own class, but I needed to an overhead
control of what was affected in this case */
.div-round-corner > div, .round-corner,
.div-box-padding > div, .box-padding,
.div-box-padding img, .box-padding img,
.cta, .link-cta a, .img-round-corner img{
    border-radius: var(--border-radius);
}

/* ===== Universal flex functions ===== */
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-row, .pills-display{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.lazy-align{
    display: flex;
    align-items: center;
    justify-content: center;
}
.lazy-align-left{
    align-items: baseline;
}
.lazy-align-top{
    display: flex;
    justify-content: baseline;
    align-items: baseline;
}
.no-wrap{
    flex-wrap:nowrap;
}

/* ===== Buttons and links ===== */
.dark-cta, .link-dark-cta a {
    color:white;
    background:var(--dark-background);
}
.cta, .link-cta a {
    text-align: center;
    padding:10px;
}
.link-cta a{
    font-size: 2rem;
}
.cta-block{
    display: block;
    margin:15px 40px 0 40px;
}
.pills-display a {
    margin: .5rem;
    white-space:nowrap;
}

/* ===== Header css ===== */
.link-hover-cta a{
    color: var(--header-link-color);
    transition: background-color 0.3s ease-in-out;
    white-space:nowrap;
}
.hover-cta a{
    background-color: var(--light-dark-background);
}
#active-page{
    text-decoration: underline;
    text-decoration-thickness: 3px;
    color: var(--header-link-color);
}
#csm-logo{
    height:70px;
    margin: 20px 50px 3px 0;
}
#csm-slogan{
    height: 14px;
}
#header-links{
    border-bottom: 1px solid white;
    padding-bottom:4px;
}

/* ===== Footer css ===== */
footer section{
    margin-left: 4rem;
}
footer, footer a{
    color:var(--header-link-color);
}
footer{
    margin-bottom: 100px;
}

/* ===== Animations ===== */
.opacity-entry{
    opacity: 0;
    animation: opacityEntry 1s ease-in-out forwards;
}
@keyframes opacityEntry {
    0% {opacity: 0;}
    50%{opacity: 0.7;}
    100% {opacity: 1;}
}

/* ===== Pc screen ==== */
@media only screen and (min-width:1000px){
    .div-50-pc > div{
        width:calc(50% - ((var(--margin-box) + var(--padding-box))*2));
        padding:var(--padding-box);
    }
    .reverse-row-pc{
        flex-direction: row-reverse;
    }
    header .link-cta a{
        font-size:32px;
    }
    .link-hover-cta a:hover{
        background-color: var(--dark-background);
    }
    #up-button {
        position: fixed;
        right:calc(50vw - (var(--page-max-width) * 0.55));
    }
    
    header{
        margin: 20px 0;
    }
    #logo-collection{
        position: absolute;
        margin: -30px 0 0 -140px
    }
    .hide-pc{
        display:none;
    }
}

/* ===== Up tp PC ===== */
@media only screen and (max-width: 999px){
    :root{
        --page-max-width:90vw;
        --intro-image-width: 140px;
    }
    .link-hover-cta a:active{
        background-color: var(--dark-background);
    }
    .flex-row.flex-swap{
        flex-direction: column;
    }
    .flex-column.flex-swap{
        flex-direction: row;
    }
    header .link-cta a{
        font-size:27px;
    }
}

/* ===== Mobile Only ==== */

@media only screen and (max-width:400px){
    header .link-cta a{
        font-size:23px;
    }
}