/* ====== Universal Codes ====== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
    background-color:var(--background-first-color) ;
    font-size: 62.5%;   
}
body{
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif; 
    background-color: var(--light-dark-background);
}
ul {
    list-style: none;
    padding: 0;
    
  }
:root {
    /* Colors */
    --header-link-color: white;
    --link-color: white;
    --copy-color:black;
    --dark-background: rgb(59, 59, 59);
    --light-dark-background: grey;
    /* Sizes needed for calc() */
    --gallery-width:300px;
    --margin-box:20px;
    --padding-box:10px;
    --page-max-width:1000px;
    --intro-image-width: 170px;
}
body, header, main, footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* ===== Universal css ===== */

h1{
    color: var(--header-link-color);
    text-align: center;
}
main, header, footer{
    width: var(--page-max-width);
    background-color: var(--light-dark-background);
}

/* ===== Universal css functions ===== */
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-row, .pills-display{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.lazy-align{
    display: flex;
    align-items: center;
    justify-content: center;
}
.lazy-align-top{
    display: flex;
    justify-content: baseline;
    align-items: baseline;
}
.pills-display a > *{
    margin: .5rem;
    flex-wrap: wrap;
    white-space:nowrap;
}
.pills-display{
    align-items: first baseline;
}
.no-wrap{
    flex-wrap:nowrap;
}
/* Buttons and links */
.dark-cta, .link-dark-cta a > *{
    color:var(--link-color);
    background:var(--dark-background);
}
.cta, .link-cta a > *{
    text-align: center;
    padding:10px;
    border-radius: 20px;
}
.link-clean a{
    text-decoration: none; 
}
/* ===== Header css ===== */
header h2{
    color: var(--header-link-color);
    transition: background-color 0.3s ease-in-out;
    white-space:nowrap;
}
header h2{
    background-color: var(--light-dark-background);
}
#active-page{
    text-decoration: underline;
    text-decoration-thickness: 3px;
    color: var(--header-link-color);
}
/* ===== Footer css ===== */
footer section{
    margin-right: 2rem;
}
/* ===== Animations ===== */
.opacity-entry{
    opacity: 0;
    animation: opacityEntry 1500ms ease-in-out forwards;
}
@keyframes opacityEntry {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* ===== Pc screen ==== */
@media only screen and (min-width:1000px){
    header h2:hover{
        background-color: var(--dark-background);
    }
    .div-50-pc > div{
        width:calc(50% - ((var(--margin-box) + var(--padding-box))*2));
        padding: var(--padding-box);
    }
    .picture-text-page .reverse-row-pc{
        flex-direction: row-reverse;
    }   
}
/* ===== Up tp PC ===== */
@media only screen and (max-width:999px){
    :root{
        --page-max-width:90vw;
        --intro-image-width: 120px;
    }
    header h2{
        margin:0;
    }
    header h2:active{
        background-color: var(--dark-background);
    }
    .flex-row.flex-swap{
        flex-direction: column;
    }
    .flex-column.flex-swap{
        flex-direction: row;
    }
    
}
/* ===== Mobile and Up ===== */
@media only screen and (min-width:450px){
}
/* ===== Mobile Only ==== */
@media only screen and (max-width:449px){
    header h2{
        font-size:17px;
    }
}